@model IEnumerable<MVC_Taksi.Models.Voznja>

@{
    ViewBag.Title = "Home Page";
}


<div class="stranicalevo">
@using (Html.BeginForm("ListaSvihVoznji", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>
                <div class ="styled-select green rounded">
                    @Html.DropDownList("StatusVoznje", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text = "Sve",  Value = "SVE"},
                                            new SelectListItem{ Text = "Kreirana",  Value = "KREIRANA"},
                                            new SelectListItem{ Text = "Formirana", Value = "FORMIRANA"},
                                            new SelectListItem{ Text = "Obradjena", Value = "OBRADJENA"},
                                            new SelectListItem{ Text = "Prihvacena", Value = "PRIHVACENA"},
                                            new SelectListItem{ Text = "Otkazana", Value = "OTKAZANA"},
                                            new SelectListItem{ Text = "Neuspesna", Value = "NEUSPESNA"},
                                            new SelectListItem{ Text = "Uspesna", Value = "USPESNA"},
                                      }, "Izaberite status")

                </div>
               

            </td>

            <td>
                <div class="styled-select green rounded">
                                        @Html.DropDownList("sortDatum", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text = "Bez sortiranja",   Value = "sort0"},
                                            new SelectListItem{ Text = "Datum rastuci",    Value = "sort1"},
                                            new SelectListItem{ Text = "Datum opadajuci",  Value = "sort2"},
                                            new SelectListItem{ Text = "Ocena",  Value = "sort3"},
                                      }, "Sortiraj")
                </div>
            </td>
            <td>
                <input type="submit" value="Pretraga" />
            </td>
        </tr>
        <tr>
            <td>
                Pretraga po Oceni:
            </td>
            <td>
                Pretraga po Ceni:
            </td>

        </tr>
        <tr>
            <td>
                <div class="styled-select green rounded">
                    @Html.DropDownList("pretragaOdOcene", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text = "0",   Value = "0"},
                                            new SelectListItem{ Text = "1",    Value = "1"},
                                            new SelectListItem{ Text = "2",  Value = "2"},
                                            new SelectListItem{ Text = "3",  Value = "3"},
                                            new SelectListItem{ Text = "4",  Value = "4"},
                                            new SelectListItem{ Text = "5",  Value = "5"},
                                      }, "Ocena")
                </div>
            </td>
            <td>
                <div class="editor-field">
                   @Html.Editor("iznosOd")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="styled-select green rounded">
                    @Html.DropDownList("pretragaDoOcene", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text = "0",   Value = "0"},
                                            new SelectListItem{ Text = "1",    Value = "1"},
                                            new SelectListItem{ Text = "2",  Value = "2"},
                                            new SelectListItem{ Text = "3",  Value = "3"},
                                            new SelectListItem{ Text = "4",  Value = "4"},
                                            new SelectListItem{ Text = "5",  Value = "5"},
                                      }, "Ocena")
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.Editor("iznosDo")
                </div>
            </td>
        </tr>
        <tr>
            <td>-------------------------------------------------</td>
            <td>-------------------------------------------------</td>
        </tr>
        <tr>
            <td>
                Ime Korisnika [Vozac ili Musterija]: 
            </td>
            <td>
                <div class="editor-field">
                    @Html.Editor("imeKorisnika")
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Prezime Korisnika [Vozac ili Musterija]
            </td>
            <td>
                <div class="editor-field">
                    @Html.Editor("prezimeKorisnika")
                </div>
            </td>
        </tr>
    </table>
    
}
    <table class="t1">
        <thead>
            <tr>
                <th width="30">Detalji</th>
                <th width="200">Vreme</th>
                <th width="50">Musterija</th>
                <th width="50">Vozac</th>
                <th width="50">Dispecer</th>
                <th width="50">Tip</th>
                <th width="50">Iznos</th>
                <th width="50">Status</th>
                <th width="50">Ocena</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <div class="mytooltip">
                        Detalji
                        <span class="tooltiptext">
                            Lokacija Polaska: <br />
                            X:&nbsp;@Html.DisplayFor(modelItem => item.Lokacija.X) <br />
                            Y:&nbsp;@Html.DisplayFor(modelItem => item.Lokacija.Y) <br />
                            @Html.DisplayFor(modelItem => item.Lokacija.Adresa.Ulica) &nbsp;
                            @Html.DisplayFor(modelItem => item.Lokacija.Adresa.Broj) <br />
                            @Html.DisplayFor(modelItem => item.Lokacija.Adresa.NaseljenoMesto) <br />
                            @Html.DisplayFor(modelItem => item.Lokacija.Adresa.PozivniBroj) <br /><br />
                            Odrediste: <br />
                            X:&nbsp;@Html.DisplayFor(modelItem => item.Odrediste.X) <br />
                            Y:&nbsp;@Html.DisplayFor(modelItem => item.Odrediste.Y) <br />
                            @Html.DisplayFor(modelItem => item.Odrediste.Adresa.Ulica) &nbsp;
                            @Html.DisplayFor(modelItem => item.Odrediste.Adresa.Broj) <br />
                            @Html.DisplayFor(modelItem => item.Odrediste.Adresa.NaseljenoMesto) <br />
                            @Html.DisplayFor(modelItem => item.Odrediste.Adresa.PozivniBroj)


                        </span>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumIVremePorudzbine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Musterija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vozac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dispecer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iznos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusVoznje)
                </td>
                <td>
                    <div class="mytooltip">
                        @Html.DisplayFor(modelItem => item.Komentar.Ocena)
                        <span class="tooltiptext">
                           Komentar <br />
                            Opis:&nbsp;@Html.DisplayFor(modelItem => item.Komentar.Opis) <br />
                            Datum Objave Komentara:&nbsp;@Html.DisplayFor(modelItem => item.Komentar.DatumObjave) <br />
                            Musterija: &nbsp;@Html.DisplayFor(modelItem => item.Komentar.Korisnik) <br />
                            Datum formiranja voznje: &nbsp;@Html.DisplayFor(modelItem => item.Komentar.Voznja) <br />
                        </span>
                    </div>
                    
                </td>
            </tr>


        }

    </table>
</div>