@model MVC_Taksi.Models.Vozac

@{
    ViewBag.Title = "Promena Lokacije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("PromenaLokacijeVozaca", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <section>

        <p>
            <fieldset>
                <legend>Promeni Lokaciju</legend>
                <table>
                    
                    <tr>
                        <td>
                            <div class="editor-label">
                                <label>Lokacija :</label>
                            </div>
                        </td>
                        <td>
                            
                        </td>

                    </tr>

                    <tr>
                        <td>
                            X:
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.Editor("xKoordinata")
                             </div>
                        </td>
                        

                    </tr>
                    <tr>
                        <td>
                            Y:
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.Editor("yKoordinata")
                            </div>
                        </td>


                    </tr>
                    <tr>
                        <td>
                            Adresa:
                        </td>
                        <td>
                        </td>


                    </tr>
                    <tr>
                        <td>
                            Ulica:
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.Editor("ulica")
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Broj:
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.Editor("broj")
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Naseljeno Mesto:
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.Editor("naseljenoMesto")
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Pozivni Broj:
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.Editor("pozivniBroj")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <input type="submit" value="Promeni Lokaciju" />
                        </td>
                    </tr>

                    


                </table>

                <input type="hidden" id="Vozac" name="Vozac" value=@TempData["VozacIme"].ToString()>

            </fieldset>
        </p>
    </section>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
